# Basics

## Simple Operations

Python has the capability of carrying out calculations. 

Enter a calculation directly into the Python console, and it will output the answer.

In [1]:
2 + 2

4

In [2]:
5 + 4 - 3

6

Note: spaces around plus and minus are optional.

Python also carries out multiplication and division, using **asterisk** to indicate multiplication and a **forward slash** to indicate division.

Use **parentheses** to determine which operations are performed first.

In [3]:
2*(3+4)

14

In [4]:
10/2

5.0

Note: using a single slash to divide numbers produces a decimial or **float**, as it is called in programming.

The minus sign indicating a negative number. 

Operations are performed on negative numbers, just as they are on positive numbers.

_The plus sign can also be put in front of numbers, but this has no effect, and is mostly used to emphasize that a number is positive_

In [5]:
-7

-7

In [7]:
(-7+2)*(-4)

20

In [8]:
(-7+2)*-4

20

Dividing by zero in Python produce an **error**, as no answer can be calculated.

_In Python, the last line of an error message indicates the error's type._

## Floats

**Floats** are used in Python represent numbers that are integers. 

Some examples of numbers that are represented as floats are 0.4 and -7.8293.

They can be created directly by entering a number with a decimal point, or by using operations such as division on integers. Extra zeros at the number's end are ignored.

_Computers can't store floats perfectly accurately, e.g. 1/3=0.33333..._

In [9]:
3/4

0.75

In [10]:
9.8765000

9.8765

A float is also produced by running an operation on two floats, or on a float and integer.

_A float can be added to an integer, because Python sliently convers the interger to a float. However, this implicit conversion is the exception rather that the rule in Python--usually you have to convert values manully if you want to operate on them._

In [11]:
8/2

4.0

In [12]:
6*7.0

42.0

In [13]:
4+1.65

5.65

## Other Numerical Operations

### Exponentiation

Besides addition, substraction, multiplication, and division, Python also supports **exponentiation**, which is the raising of one number to the power of another. This operation is performed using **two asterisks**.

In [14]:
2**5

32

In [15]:
9**(1/2)

3.0

### Quotient and Reminder

To determine the **quotient** and **reminder** of a division, use the **floor division** and **modulo** operators, respectively. 

Floor division is done usning **two forward slashes**. 

The modulo operator is carried out with a percent symbol (%).

In [16]:
20 // 6

3

In [17]:
1.25 % 0.5

0.25

## Strings

If you want to use text in Python, you have to use a string. A string is created by entering text between **two single or double quotation marks**.

When the Python console displays a string, it generally uses single quotes. The delimiter used for a string doesn't affect hwo it behaves in any way.

In [18]:
"Python is fun!"

'Python is fun!'

In [19]:
'Always look on the bright side of life'

'Always look on the bright side of life'

Some characters can't be directly included in a string. For instance, double quotes can't be directly included in a double quote string; this woud cause it to end prematurely. 

Characters like these must be escaped by placing a **backslash** before them.

Other commmon characters that must be escaped are newlines are backslashes. **\n** represents a new lines.

Double quotes only need to be escaped in double quote strings, and the same is true for single quote strings.

_**Backslashes** can also be used to escape tabs, arbitary Unicode characters, and various other things that can't be reliably printed. These characters are known as escape characters._

In [20]:
'Brian\'s mother: He\'s not the Messiah. He\'s a very naughty boy!'

"Brian's mother: He's not the Messiah. He's a very naughty boy!"

In [21]:
"He's"

"He's"

In [22]:
'"a"'

'"a"'

### Newlines

Python provides an easy way to avoid manually writing "\n" to escape newelines in a string. Create a string with **three sets of quotes**, and newlines that are created by pressing Enter are automatically escaped for you.

In [23]:
"""Customer: Good moring.
Ownner: Good morning."""

'Customer: Good moring.\nOwnner: Good morning.'

## Simple Input and Output

### Output

You can use the **print** function to produce output. This displays a textual representation of something to the screen.

_When a string is printed, the quotes around it are not displayed._

In [24]:
print(1+1)

2

In [25]:
print("Hello\nWorld!")

Hello
World!

### Input

To get input from the user in Python, you can use the intuitively named **input** function. The function prompts the user for input, and returns what they enter as a string (with the contents automatically escaped).

In [33]:
input("Enter somthing please:")

Enter somthing please:This is \nthat! That is \this!

'This is \\nthat! That is \\this!'

## String Operations

### Concatenation

Strings in Python can be added through a process called **concatenation**, which can be done on any two strings.When concatenating strings, it doesn't matter wehter they've een created with single or double quotes.

In [29]:
"Spam"+'egg'

'Spamegg'

In [30]:
print("First string"+", "+"second string")

First string, second string

Even if your strings contain numbers, they are still added as strings rather than integers. Adding a string to a number produces an error.

In [31]:
'2'+"2"

'22'

In [32]:
1+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### String Multiplication

Strings can also be multiplied by integers. This produces a repeated version of the original string. The order of the string and the integer doesn't matter, but the string usually comes first.

Strings can't be multiplied by other strings. Strings also can't be multiplied by floats, even if the floats are whole numbers.

In [34]:
print('Spam'*3)

SpamSpamSpam

In [35]:
4*'2'

'2222'

In [36]:
'17'*'18'

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
'p'*7.0

TypeError: can't multiply sequence by non-int of type 'float'

## Type Conversion

Sometimes it is impossible to complete certain operations due to the type involved. For instance, you can't add two strings containing the number 2 and 3 together to produce the integer 5, as the operation will be performed on strings, making the result '23'. The solution to this is **type conversion**. In that example, you would use the **int** function.

We now have function **int**, **float**, and **str** to convert inputs to **integers**, **floats**, and **strings**.

In [38]:
'2'+'3'

'23'

In [39]:
int('2')+int('3')

5

Another example of type conversion is turning user input (which is a strin) to numbers (integers or floats), to allow for performance of calculations.

In [40]:
float(input("Enter a number: "))+float(input("Enter another number: "))

Enter a number: 40
Enter another number: 2

42.0

## Variables

To assign a **variable**, use **one equals sign**. It doesn't produce any output at the Python console.

You can use variables to perform corresponding operations, just as numbers and strings.

In [41]:
x=7

In [42]:
print(x)

7

In [43]:
print(x+3)

10

Variables can be reassigned as many times as you want, in order to change their value. In Python, variables don't have specific types, so you can assign a string to a variable, and later assign an integer to the same variable.

In [44]:
x=123.456
print(x)

123.456

In [45]:
x="This is a string"
print(x+"!")

This is a string!

### Variable Names

To name a variable, the only characters that are allowed are letters, numbers, and underscores. Also, they can't start with numbers. Moreover, Python is case sensitive.

In [46]:
this_is_a_normal_name = 7

In [47]:
123abc = 1

SyntaxError: invalid syntax (<ipython-input-47-0363d91cd76b>, line 1)

In [48]:
space are not allowed

SyntaxError: invalid syntax (<ipython-input-48-d856fc44c32e>, line 1)

Trying to reference a variable you haven't assigned to causes an error.

You can use the **del** statement to remove a variable, which means the reference from the name to the value is deleted. Deleted variables can be reassigned to later as normal.

In [49]:
foo="a string"
foo

'a string'

In [50]:
bar

NameError: name 'bar' is not defined

In [51]:
del foo
foo

NameError: name 'foo' is not defined

You can also take the value of the variable from the user input.

In [52]:
foo=input("Enter a number: ")

Enter a number: 7

In [53]:
print(foo)

7

## In-Place Operations

**In-place operators** allow you to write code like 'x=x+3' more concisely, as 'x += 3'. The same thing is possible with other operations such as -,*,/, and % as well

In [55]:
x=2
print(x)
x+=3
print(x)

2
5

These operators can be used on types other than numbers, as well, such as **strings**.

In [56]:
x='spam'
print(x)

spam

In [57]:
x += 'egg'
print(x)

spamegg